<link rel="stylesheet" href="/css/categories.css">
<section id="categories">
    <div class="categories-container">
        <div class="container">
            <h1>Product Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mobile Devices</td>
                        <td>Smartphones, Tablets, smart watches, Accessories like chargers, cases, protectors and memory cards</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Computer and Accessories</td>
                        <td>Laptops, Desktops, Monitors, Keyboard and mice, Storage devices like USB Flash, Externals (HDD) and SSD</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Audio and Videos</td>
                        <td>Headphones, Speakers, Home threater system, TV, Camera and camrecoders</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Gaming</td>
                        <td>Video games, Controllers, Console (PS-5, PS-4)</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Men Outfits</td>
                        <td>Shirts, Tshirts, Jeans, ...</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Women Outfits</td>
                        <td>Dresses, tops, Skirts, ...</td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>Children</td>
                        <td>baby clothings</td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>Footwares</td>
                        <td>Sandals, Boots, Shoes</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Accessories</td>
                        <td>Belts, scarves, caps and hats, bags and wallets, ...</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Jewerly</td>
                        <td>Neckless, rings, earings, ....</td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>Home Appliances</td>
                        <td>Refrigerators, Washing Machines, dishes, blenders, mixers, microwaves, ovens</td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>Beddings</td>
                        <td>Sheets and pillowcases, comfortables and juverts, blankets</td>
                    </tr>

                    <tr>
                        <td>13</td>
                        <td>Home Decor</td>
                        <td>Wall arts, Rugs, Lighting, mirrors, candles</td>
                    </tr>

                    <tr>
                        <td>14</td>
                        <td>Beauty</td>
                        <td>Skin cares, makeups, hair cares, deodorants, shavings</td>
                    </tr>


                    <tr>
                        <td>15</td>
                        <td>Sports</td>
                        <td>Shoes, jerseys</td>
                    </tr>

                    <tr>
                        <td>16</td>
                        <td>Toys</td>
                        <td>Puzzles</td>
                    </tr>

                    <tr>
                        <td>17</td>
                        <td>Pets</td>
                        <td>Foods, vaccines, ...</td>
                    </tr>

                    <tr>
                        <td>18</td>
                        <td>Office</td>
                        <td>Printers, notebooks, chairs, desks</td>
                    </tr>
                    
                    <tr>
                        <td>19</td>
                        <td>Bath</td>
                        <td>Towels, shower curtains, bath Accessories</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>