<%- include('./includes/title.ejs') %>

<link rel="stylesheet" href="/css/faq.css">
<body>
  <div class="faq-container">
    <div class="accordion">
      <div class="search">
          <h1>FAQ</h1>
          <h3>Frequently Asked Questions</h3>
          <div class="input-button">
              <input type="text" placeholder="Search any question...">
              <div class="button">
                <button>Search</button>
              </div>
          </div>
      </div>
      <div class="main">
          <div class="image-box">
              <h1>Have Questions?</h1>
            <img src="img/faq.png" alt="">
          </div>
          <div class="accordion-text">
          <ul class="faq-text">
            <li>
              <div class="question-arrow">
                <span class="question">What is Kitomanga Online Shop?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>Kitomanga Online Store is your one-stop shop for a wide variety of products including electronics, fashion, home essentials, and more. We offer quality products at competitive prices, delivered right to your door.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How do I create an account?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>Creating an account is simple! Just click on the "Sign Up" button on the top right corner of the homepage, enter your email, create a password, and you're ready to start shopping.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">Do I need to create an account to make a purchase?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>No, you can make purchases as a guest. However, creating an account allows you to track your orders and view your purchase history.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">Can I place an order without registering?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>Yes, you can place an order without registering by using our guest checkout option. However, registering will provide benefits like faster checkout and order tracking.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How can I change my account information?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>You can change your account information by logging in, going to "My Account" and updating your details such as your email, password, or shipping address.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How do I find a specific product?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>You can use the search bar located at the top of the website to find specific products by entering keywords, product names, or categories.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">What should I do if a product is out of stock?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>If a product is out of stock, you can sign up for notifications to be alerted when the product becomes available again.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How can I track my order?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>You can track your order by logging into your account and visiting the "My Orders" section. Once your order has been shipped, you will receive an email with the tracking details.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">Can I modify or cancel my order after it has been placed?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>Yes, you can modify or cancel your order within 1 hour of placing it. After this time, the order might already be processed and shipped. Please contact our customer support for assistance.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">What should I do if I forget my password?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>If you forget your password, click on "Forgot Password" during login, and follow the instructions to reset it. A reset link will be sent to your registered email.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How can I contact customer support?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>You can contact our customer support via the "Contact Us" form on the website, or by emailing twahirsudy3@gmail.com. Our team is ready to assist you.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">What are your customer service hours?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>Our customer service operates 24/7, everyday. On weekends, we provide limited support from 10 AM to 4 PM.</p>
              <span class="line"></span>
            </li>
            <li>
              <div class="question-arrow">
                <span class="question">How do I write a review for a product?</span>
                <i class="fa-solid fa-arrow-down arrow"></i>
              </div>
              <p>To write a review, log in to your account, go to the product page of the item you purchased, and click on "Write a Review." Your feedback helps us improve our service and products.</p>
              <span class="line"></span>
            </li>
          </ul>
      </div>
          
      </div>
      
    </div>
  </div>

<script src="/js/faq.js"></script>
<%- include('./includes/footer.ejs') %>

</body>
</html>
